/* Styles go here */

$drawer-closed-width: 65px;
$drawer-open-width: 300px;
$drawer-icon-bar-color: black;

/* the main icon drawer control */
.dos-icon-drawer {
  position: fixed;
  display: block;
  right: 0;
  top:100px;
  height: 100%;
  z-index: 1001;
  background-color: $drawer-icon-bar-color;
  width: $drawer-closed-width;
  transition: width .4s, padding-right .1s, background-color .4s; 
  
  &.open {
    width: $drawer-open-width;
  }
}

.dos-icon-drawer- {
  padding: 0;
  height: 100%;
  width: $drawer-closed-width;
  background-color: grey;
  position: relative;

}

/* icon bar controls */
.dos-icon-drawer-controls {
  width: $drawer-closed-width;
  height: 100%;
  float: left;
  position: relative;     

  // icons and title links
  .iconbar {
    background-color: inherit;
    
    border: 1px solid green;   /*  */

    ul {
      padding: 0;

      li {
        text-align: center;
        list-style-type: none;

        a {
          padding: 16px 10px;
          min-width: 64px;
          color: blue;

          &:hover,
          &:active {
            color: #fff;
            cursor: pointer;
          }

          .badge {
            position:absolute;
            top: 6px;
            left: 36px;
          }

          .title {
            font-size: 12px;
            display: block;
            overflow: hidden;
          }
        }
      }
    }
  }

  // the area below the icons is clickable
  .icon-drawer-toggle {
    height: 100%;
    cursor: pointer;
    padding-left: 0px;
    width: $drawer-closed-width;
  }
}





/* content panel areas*/
.dos-icon-drawer-content {
  display: block;
  background-color: white;
  float: right; 
  width: 91%;  // fallback
  width: calc(100% - #{$drawer-closed-width});   // less width of controls

  height: inherit;
  overflow-y: scroll; // add vert scroll on overflow

  .drawer-panel {
    display: none;     // hide inactive panels

    &.active {
      display: block;  // but show the one active panel      
    }
  }
}
