/* Styles go here */

$drawer-closed-width: 65px;
$drawer-open-width: 400px;
$drawer-icon-bar-background-color: #fff;  //white
$drawer-border: #000;

/* the main icon drawer control */
.dos-icon-drawer {
  background-color: $drawer-icon-bar-background-color;
  border: 1px solid $drawer-border;
  border-radius: 5px;
  display: block;
  height: 100%;
  position: fixed;
  right: 0;
  top:100px;
  transition: width .4s, padding-right .1s, background-color .4s; 
  width: $drawer-closed-width;
  z-index: 1001;

  &.open {
    width: $drawer-open-width;
  }
}

/* icon bar controls */
.dos-icon-drawer-controls {
  width: $drawer-closed-width - 1;
  height: 100%;
  float: left;
  position: relative;    
  border-right: 1px solid $drawer-border; 

  // icons and title links
  .iconbar {
    background-color: inherit;


    // slider opener controls to open close
    .opener {
        border-bottom: 1px solid $drawer-border;
        border-top-left-radius: 5px;
        min-height: 45px;

        a {
          padding: 2px;
        }

        .close-control { display: none; }
        .open-control { display: inline-block; }
    }

    ul {
      padding: 0;

      li {
        text-align: center;
        list-style-type: none;

        a {
          padding: 16px 10px;
          min-width: 64px;
          color: black;

          &:hover,
          &:active {
            cursor: pointer;
          }

          .badge {
            position:absolute;
            top: 6px;
            left: 36px;
          }

          .title {
            font-size: 12px;
            display: block;
            overflow: hidden;
          }
        }
      }
    }
  }

  // the area below the icons is clickable
  .icon-drawer-toggle {
    height: 100%;
    cursor: pointer;
    padding-left: 0px;
    width: $drawer-closed-width;
  }
}





/* content panel areas*/
.dos-icon-drawer-content {
  display: block;
  background-color: $drawer-icon-bar-background-color;
  float: right; 
  width: 90%;  // fallback
  width: calc(100% - #{$drawer-closed-width} - 10px);   // less width of controls and padding

  height: inherit;
  overflow-y: scroll; // add vert scroll on overflow

  .drawer-panel {
    display: none;     // hide inactive panels

    &.active {
      display: block;  // but show the one active panel      
    }
  }
}

.arrow-left:before {
  content: '\003C';
  font-size: 20px;
}
.arrow-right:before {
  content: '\003E';
  font-size: 20px;
}
  